<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="ColoredConsole" 
            layout="[${event-context:item=msg_type} ${date:format=yyMMdd.HH\:mm\:ss}] ${event-context:item=sender:padding=-30} ${message}">
      <wordHighlightingRules foregroundColor="Green" backgroundColor="Red" text="IN" compileRegex="true"/>
      <wordHighlightingRules foregroundColor="Blue" backgroundColor="Cyan" text="OT" compileRegex="true"/>
      <wordHighlightingRules foregroundColor="Yellow" backgroundColor="Blue" regex="E[A-Z][a-z]{2}" compileRegex="true"/>
      <wordHighlightingRules foregroundColor="Green" regex="C\[\d+\]" compileRegex="true"/>
      <wordHighlightingRules foregroundColor="Magenta" regex="[\s\(]P\d+" compileRegex="true"/>
    </target>

    <target name="debugger" xsi:type="Debugger"
                    layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message}" />

    <target name="fatal_file" xsi:type="File" maxArchiveFiles="30"
                    fileName="${basedir}/logs/${shortdate}/fatal_${date:format=HH\:mm\:ss}.log"
                    layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

    <target xsi:type="Mail"
            name="mailserver"
            to="tapa_server@outlook.com"
            from="tapa_server@outlook.com"
            smtpAuthentication="Basic"
            smtpServer="smtp.office365.com"
            smtpPort="587"
            smtpUserName="tapa_server"
            smtpPassword="railsmart.cn"
            addNewLines="true"
            enableSsl="true"
            subject="${machinename}{longdate}"
            body="${message}" />

    <target xsi:type="NLogViewer"
            name="remote_viewer"
            encoding="utf-8"
            layout="$[{date:format=yyMMdd.HH\:mm\:ss}] ${message}"
            address="udp://10.10.10.254:9999" />
    
    <target name="communication_logfile"
            xsi:type="File"
            fileName="${basedir}/logs/${shortdate}/commu_${date:format=yyMMdd}.log"
            layout="[${event-context:item=msg_type} ${date:format=yyMMdd.HH\:mm\:ss}] ${event-context:item=sender:padding=-12} ${message}" />
  </targets>
  <rules>
    <logger name="*" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Fatal" writeTo="fatal_file" />
    <logger name="*" writeTo="remote_viewer" />
    <logger name="*" writeTo="communication_logfile" minLevel="Info" maxLevel="Info" />
  </rules>
</nlog>